<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Gestion des Étudiants</title>
</head>
<body>
    <h1>Liste des Étudiants</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <table border="1">
        <tr>
            <th>Nom</th>
            <th>Matière</th>
            <th>Note</th>
        </tr>
        {% for etudiant in etudiants %}
        <tr>
            <td>{{ etudiant.Nom }}</td>
            <td>{{ etudiant.Matière }}</td>
            <td>{{ etudiant.Note }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{{ url_for('ajouter') }}">Ajouter un étudiant</a>
    <a href="{{ url_for('moyenne') }}">Calculer la moyenne d'un étudiant</a>
</body>
</html>
